<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/cards_style.css">
</head>

<body>
    <%- include("partials/menu.ejs") %>
    <h1> <%= title %></h1>
    <h4><%= target%></h4>
    <div class="cards">
        <% for( let i = 0; i < arr.length; i++ ) { %>

        <div class='card <%=arr[i].id %>'>
            <a class="header-card" href="/cinemas/:<%=arr[i].id %>">
                <img src='<%=arr[i].url %>' alt="" class="header-img"> </img>
                <h3><%=arr[i].title %></h3>
            </a>
            <div class="content-card">
                <img src='<%=arr[i].thumbnailUrl %>' alt="" class='small-img'>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero!</p>
                <p><%= i %> </p>
            </div>
        </div>
        <% } %>
    </div>
    <script src="/javascripts/card.js"></script>

</body>

</html>